{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-self-center mx-0 w-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mt-5 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            Join Today
                        </legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Sign Up
                        </button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? 
                        <a class="ml-2 text-info" href="{% url 'login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
