{% load render_bundle from webpack_loader %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head;
        any other head content must come *after* these tags -->
    <meta name="Description" content="OPL-Platform">
    <meta name="theme-color" content="#f3f8fa"/>
    <meta name="author" content="OPL">

    <!-- adding these tags to remove page from indexing -->
    <meta name="robots" content="noindex, nofollow"/>

    <title>OPL-Platform</title>


</head>

<body>
<div>
    <div id="root"></div>
</div>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
{% render_bundle 'main' %}
</body>

</html>