{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
      <div class="row justify-content-end mt-3">
        <div class="col-sm-10 col-md-8 col-lg-6">
          <h3 class="text-right">{{ user.username }}</h3>
          <h5 class="text-right">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="text-right">{{ user.email }}</p>
        </div>
      </div>

      <section class="row">
        <form method="POST" enctype="multipart/form-data" class="col-sm-10 col-md-8 col-lg-8 mx-auto">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><b>Profile Info</b></legend>
                {{ context.u_form|crispy }}
                {{ context.p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
      </section>
    </div>
{% endblock content %}